name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-test:
    name: Test go${{ matrix.goVersion}}.x ${{ matrix.goArch }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - goVersion: "1.25"
            GOARCH: "amd64"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version: ${{ matrix.goVersion }}
      - run: make all
        env:
          GOARCH: ${{ matrix.GOARCH }}
